<section id="features" class="dark:bg-gray-900 opacity-0 transition-opacity duration-1000">
  <div class="p-8 mb-32 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-16">
    <h2 class="mb-4 text-3xl text-center tracking-tight font-bold text-gray-900 dark:text-white">{{ site.data.features.headline }}</h2>

    {% assign features = site.data.features.features %}

    {% for feature in features %}
      <div class="max-w-[1000px] mx-auto gap-8 flex flex-col-reverse md:flex-row odd:md:flex-row-reverse items-center xl:gap-16">
        <div class="max-w-[500px] text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-center text-xl tracking-tight font-bold text-gray-900 dark:text-white">{{ feature.headline }}</h2>
          <p class="text-center mb-8 font-light lg:text-lg">{{ feature.description }}</p>
        </div>
        <img class="w-full max-w-80 mb-4 mx-auto lg:mb-0 lg:flex rounded-lg" src="{{ feature.image | relative_url }}" alt="feature image">
      </div>
    {% endfor %}
  </div>
</section>
